@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

.header {
  font-family: "Staatliches", cursive;
  font-size: 50px;
}

th {
  border-bottom: 2px solid black;
  padding: 30px;
  text-align: left;
}
td {
  text-align: left;
  padding: 30px;
  border-radius: 5px;
}

tr:hover {
  background-color: #000000;
  color: aliceblue;
}

.tables {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.tables td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
